<div class="min-h-screen w-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Password Reset
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Enter you new password to reset your password.
      </p>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <app-textfield (inputValueChange)="onPasswordValueChange($event)" label="Enter new password" inputType="email" placeholder="Enter new password"></app-textfield>
      </div>

      <div *ngIf="error" class="text-red-600 p-2 text-center text-sm">
        <div>{{ errorMessage }}</div>
      </div>
      <div>
        <app-button (click)="onResetPassword($event)" label="Reset Password"></app-button>
      </div>
    </form>
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-600">
        Remember your password?
        <a routerLink="/login" routerLinkActive="active" class="font-medium text-indigo-600 hover:text-indigo-500">
          Sign in here.
        </a>
      </p>
    </div>
  </div>
</div>
