<div class="min-h-screen w-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Forgot Your Password?
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Remembered your password?
        <a routerLink="/login" routerLinkActive="active" class="font-medium text-indigo-600 hover:text-indigo-500">
          Sign in to your account
        </a>
      </p>
    </div>
    <form class="mt-8 space-y-2" action="#" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <app-textfield (inputValueChange)="onEmailValueChange($event)" label="Email address" inputType="email" placeholder="Enter your email"></app-textfield>
      </div>
      <div *ngIf="error" class="text-white p-2 bg-red-600 text-center text-sm ">
        <div>{{ errorMessage }}</div>
      </div>

      <div class="pt-4">
        <app-button (click)="onOtpRequest($event)" label="Get Otp"></app-button>
      </div>
    </form>
  </div>

  <div *ngIf="tfAuthModalService.isOpen$ | async" class="w-screen fixed top-0.5 bottom-0.5">
    <app-otp-modal label="OTP Authentication" [email]="email">

    </app-otp-modal>
  </div>
</div>
